:root {
  --green-500: rgb(16, 185, 129);
}

body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 a {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.link {
  display: inline-flex;
  transition: all 0.2s ease;
}

.project-gradient {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.toggle-wrapper {
  position: fixed;
  top: 2.5em;
  right: 2.5em;
  z-index: 99;
  gap: 0.25em;
  transform: rotateZ(180deg);
}

.toggle-wrapper .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.toggle-wrapper.open .arrow {
  background-color: var(--green-500) !important;
}

.toggle-wrapper .white {
  opacity: 0;
  transition: all 0.2s ease;
}

.toggle-wrapper:hover .arrow {
  background-color: var(--green-500);
}

.toggle-wrapper.open .white {
  opacity: 1;
  background-color: white;
}

.mobile-nav-wrapper {
  position: fixed;
  left: -105%;
  z-index: 99;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
  height: 100vh;
  background: rgba(255, 255, 255, 0.98);
}
.mobile-nav-wrapper.open {
  left: 0px;
  top: 0;
  width: 75%;
}

.toggle-wrapper .arrow {
  background-color: var(--green-500);
}

.mobile-nav {
  height: 100vh;
}

.mobile-nav a:not(:last-child) {
  margin-bottom: 2em;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 1em;
}

.mobile-nav-item a {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.mobile-nav-item:hover a {
  color: var(--green-500);
  transition: all 0.2s ease;
}

.styled-link {
  font-family: "Lobster", cursive !important;
  color: #f72585;
}

.styled-link:hover {
  text-decoration: underline;
}

.nav-item:hover .icon-wrapper {
  background: white;
  border-radius: 50%;
}

@media screen and (min-width: 426px) {
  .mobile-nav-wrapper {
    max-width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .mobile-nav-wrapper {
    width: 100vw;
  }
  .hero-title {
    font-size: 8vw;
  }
}

@media screen and (max-width: 425px) {
  .grid-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .nav {
    display: none;
  }
  .toggle-wrapper {
    display: grid;
  }
}

@media screen and (min-width: 426px) {
  .toggle-wrapper {
    display: none;
  }
}
